<% if logged_in? %>
  <div class="row">
    <%= render 'posts/posts', posts: @posts %>
  </div>
<% else %>
  <div class="jumbotron">
    <div class="text-center">
      <h1 class='mb-2'>necolog</h1>
      <p>あなたの猫の写真を共有しよう</p>
      <p><%= link_to '新規登録', signup_path , class: 'btn btn-info btn'%></p>
      <p><%= link_to 'ログイン', login_path , class: 'btn btn-info btn'%></p>
    </div>
  </div>
<% end %>