// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-stitch {
  display: inline-block;
  

  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  cursor: pointer;
}

.btn-stitch2:hover {
  border: dotted 1px #FFF;
  
}

.btn-stitch2 {
  display: inline-block;
  

  padding: 0.5em 1em;
  text-decoration: none;
  background: #AAAAAA;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #AAAAAA;
  border: dashed 1px #FFF;
  cursor: pointer;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}
